In [2]:
import pandas as pd

In [3]:
key = 'I2ZWBIOL69PFCZV1'

In [4]:
import requests

In [5]:
response = requests.get('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=JPM&outputsize=full&apikey=key')

In [6]:
from pandas.io.json import json_normalize

daily_df = json_normalize(response.json())

In [7]:
daily_df

,Meta Data.1. Information,Meta Data.2. Symbol,Meta Data.3. Last Refreshed,Meta Data.4. Output Size,Meta Data.5. Time Zone,Time Series (Daily).2019-11-13.1. open,Time Series (Daily).2019-11-13.2. high,Time Series (Daily).2019-11-13.3. low,Time Series (Daily).2019-11-13.4. close,Time Series (Daily).2019-11-13.5. volume,...,Time Series (Daily).1999-11-16.1. open,Time Series (Daily).1999-11-16.2. high,Time Series (Daily).1999-11-16.3. low,Time Series (Daily).1999-11-16.4. close,Time Series (Daily).1999-11-16.5. volume,Time Series (Daily).1999-11-15.1. open,Time Series (Daily).1999-11-15.2. high,Time Series (Daily).1999-11-15.3. low,Time Series (Daily).1999-11-15.4. close,Time Series (Daily).1999-11-15.5. volume
0,"Daily Prices (open, high, low, close) and Volumes",JPM,2019-11-13,Full size,US/Eastern,128.1300,128.8150,127.4200,128.4800,8096654,...,83.3750,86.4380,82.8750,86.0000,6735300,84.0630,84.8130,82.5000,82.5630,5613000

In [13]:
daily_df.to_csv('data.csv')