In [4]:
import pandas as pd
import re

%store -r

In [5]:
df = pd.DataFrame(response.json()['Time Series (Daily)'].values())

In [6]:
df

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
0,129.2300,129.5300,128.4000,129.5300,129.5300,9384758,0.0000,1.0000
1,127.7200,128.8400,127.5900,128.6000,128.6000,7342030,0.0000,1.0000
2,128.1300,128.8200,127.4200,128.4800,128.4800,8023300,0.0000,1.0000
3,129.6300,130.6200,129.0100,129.1600,129.1600,9099000,0.0000,1.0000
4,129.6000,130.1000,129.3500,129.9200,129.9200,8679000,0.0000,1.0000
...,...,...,...,...,...,...,...,...
5029,83.5000,84.3750,82.5000,83.0000,30.7508,2998300,0.0000,1.0000
5030,82.3750,84.1250,81.9380,83.3750,30.8897,4607400,0.0000,1.0000
5031,85.0630,85.1880,81.6250,81.8750,30.3340,5410200,0.0000,1.0000
5032,83.3750,86.4380,82.8750,86.0000,31.8623,6735300,0.0000,1.0000
5033,84.0630,84.8130,82.5000,82.5630,30.5887,5613000,0.0000,1.0000

In [7]:
response_keys = list(response.json()['Time Series (Daily)'].keys())

df.rename(columns = {df.columns[i]: ''.join(re.search(r'(\d+\.\s)(.*)', 
    df.columns[i]).group(2)) for i in range(len(df.columns)) 
        if (re.search(r'(\d+\.\s)(.*)', df.columns[i])) is not None},
    index = {range(len(df))[i]: response_keys[i] for i in range(len(df))},
    inplace = True)

In [8]:
df

,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
2019-11-15,129.2300,129.5300,128.4000,129.5300,129.5300,9384758,0.0000,1.0000
2019-11-14,127.7200,128.8400,127.5900,128.6000,128.6000,7342030,0.0000,1.0000
2019-11-13,128.1300,128.8200,127.4200,128.4800,128.4800,8023300,0.0000,1.0000
2019-11-12,129.6300,130.6200,129.0100,129.1600,129.1600,9099000,0.0000,1.0000
2019-11-11,129.6000,130.1000,129.3500,129.9200,129.9200,8679000,0.0000,1.0000
...,...,...,...,...,...,...,...,...
1999-11-19,83.5000,84.3750,82.5000,83.0000,30.7508,2998300,0.0000,1.0000
1999-11-18,82.3750,84.1250,81.9380,83.3750,30.8897,4607400,0.0000,1.0000
1999-11-17,85.0630,85.1880,81.6250,81.8750,30.3340,5410200,0.0000,1.0000
1999-11-16,83.3750,86.4380,82.8750,86.0000,31.8623,6735300,0.0000,1.0000
1999-11-15,84.0630,84.8130,82.5000,82.5630,30.5887,5613000,0.0000,1.0000

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5034 entries, 2019-11-15 to 1999-11-15
Data columns (total 8 columns):
open                 5034 non-null object
high                 5034 non-null object
low                  5034 non-null object
close                5034 non-null object
adjusted close       5034 non-null object
volume               5034 non-null object
dividend amount      5034 non-null object
split coefficient    5034 non-null object
dtypes: object(8)
memory usage: 354.0+ KB
None

In [10]:
print(df.dtypes)

open                 object
high                 object
low                  object
close                object
adjusted close       object
volume               object
dividend amount      object
split coefficient    object
dtype: object

In [11]:
df = df.astype('float')
print(df.dtypes)

open                 float64
high                 float64
low                  float64
close                float64
adjusted close       float64
volume               float64
dividend amount      float64
split coefficient    float64
dtype: object

In [12]:
df.describe()

#no extreme outliers to worry about

,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
count,5034.000000,5034.000000,5034.000000,5034.000000,5034.000000,5.034000e+03,5034.000000,5034.000000
mean,53.722647,54.330987,53.099494,53.721679,43.109440,2.114723e+07,0.005914,1.000099
std,24.264205,24.385254,24.159117,24.267088,26.506106,2.002868e+07,0.050797,0.007047
min,15.370000,16.350000,14.960000,15.450000,9.534400,1.160400e+06,0.000000,1.000000
25%,37.602500,38.033625,37.122500,37.600000,26.029725,9.600950e+06,0.000000,1.000000
50%,44.985000,45.540000,44.305000,44.995000,32.496550,1.406605e+07,0.000000,1.000000
75%,61.117500,61.637500,60.645000,61.140000,51.673000,2.536135e+07,0.000000,1.000000
max,130.430000,131.290000,129.920000,130.380000,130.380000,2.172942e+08,0.900000,1.500000

In [13]:
df.to_csv('cleaned_data.csv')