This notebook is reserved for cleaning the stock market data from Kaggle used for training the capstone model. 
The numbers below cells denote the number of seconds of runtime.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

The cell below reads-in the txt files as csv files for the stock market data found in the Stocks folder in the working directory.

In [2]:
import pandas as pd
import glob
import os
import timeit

start = timeit.default_timer()

files = glob.glob('Stocks/*.txt')

temp_list = []
empty = []

for f in files:
    if os.path.getsize(f) > 0:
        temp_df = pd.read_csv(f, index_col=None, header=0)
        temp_list.append(temp_df)
    else:
        empty.append(f)

end = timeit.default_timer()
print(end - start)

70.408705948

A dataframe is created by concatenating the non-null data.

In [3]:
df = pd.concat(temp_list, axis=0, ignore_index=True)

In [4]:
df.describe()

,Open,High,Low,Close,Volume,OpenInt
count,1.488766e+07,1.488766e+07,1.488766e+07,1.488766e+07,1.488766e+07,14887665.0
mean,3.038538e+04,3.121247e+04,2.936176e+04,3.024522e+04,1.585730e+06,0.0
std,4.202501e+06,4.323486e+06,4.046981e+06,4.180590e+06,7.635187e+06,0.0
min,0.000000e+00,4.000000e-03,-1.000000e+00,3.700000e-03,0.000000e+00,0.0
25%,7.750000e+00,7.884000e+00,7.610000e+00,7.750000e+00,3.280000e+04,0.0
50%,1.568000e+01,1.591900e+01,1.543100e+01,1.568000e+01,1.922660e+05,0.0
75%,2.890000e+01,2.927900e+01,2.850000e+01,2.889990e+01,8.917860e+05,0.0
max,1.423713e+09,1.442049e+09,1.362118e+09,1.437986e+09,2.423735e+09,0.0

In [5]:
df.drop('OpenInt', 1, inplace = True)

In [6]:
df

                Date    Open    High      Low    Close  Volume
0         2005-02-25  12.868  12.982  12.8340  12.8340   15928
1         2005-02-28  13.536  13.536  13.2730  13.2810   16382
2         2005-03-01  13.185  13.299  13.1850  13.2990    1250
3         2005-03-02  13.361  13.395  13.2730  13.2910    8760
4         2005-03-03  13.361  13.404  12.9660  13.2180    9897
...              ...     ...     ...      ...      ...     ...
14887660  2017-11-06  18.050  18.140  17.9500  18.0300   11470
14887661  2017-11-07  18.030  18.330  18.0300  18.1700   15729
14887662  2017-11-08  18.250  18.250  18.1600  18.2461    5585
14887663  2017-11-09  18.100  18.100  17.8300  18.0400   10929
14887664  2017-11-10  18.030  18.030  17.8901  17.9600    7161

[14887665 rows x 6 columns]

In [9]:
df.isna().any().any()

False

A csv file containing the cleaned data is exported to the working directory.

In [8]:
df.to_csv('large_cleaned_data.csv')