In [10]:
import pandas as pd
import requests

In [8]:
key = 'I2ZWBIOL69PFCZV1'

In [17]:
response = requests.get('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=JPM&outputsize=full&apikey=key')

%store response

Stored 'response' (Response)

In [18]:
from pandas.io.json import json_normalize

daily_df = json_normalize(response.json())

In [19]:
daily_df

,Meta Data.1. Information,Meta Data.2. Symbol,Meta Data.3. Last Refreshed,Meta Data.4. Output Size,Meta Data.5. Time Zone,Time Series (Daily).2019-11-15.1. open,Time Series (Daily).2019-11-15.2. high,Time Series (Daily).2019-11-15.3. low,Time Series (Daily).2019-11-15.4. close,Time Series (Daily).2019-11-15.5. adjusted close,...,Time Series (Daily).1999-11-16.7. dividend amount,Time Series (Daily).1999-11-16.8. split coefficient,Time Series (Daily).1999-11-15.1. open,Time Series (Daily).1999-11-15.2. high,Time Series (Daily).1999-11-15.3. low,Time Series (Daily).1999-11-15.4. close,Time Series (Daily).1999-11-15.5. adjusted close,Time Series (Daily).1999-11-15.6. volume,Time Series (Daily).1999-11-15.7. dividend amount,Time Series (Daily).1999-11-15.8. split coefficient
0,Daily Time Series with Splits and Dividend Events,JPM,2019-11-15,Full size,US/Eastern,129.2300,129.5300,128.4000,129.5300,129.5300,...,0.0000,1.0000,84.0630,84.8130,82.5000,82.5630,30.5887,5613000,0.0000,1.0000

In [20]:
daily_df.to_csv('data.csv')