In [9]:
!pip3 install pandas

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/16/b5/bab3477466a4d9e705d40829ac65683155e7977acbc07f05b06fabded1be/pandas-0.25.3-cp37-cp37m-macosx_10_9_x86_64.whl
Collecting pytz>=2017.2 (from pandas)
  Using cached https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/site-packages (from pandas) (1.16.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-0.25.3 pytz-2019.3
WARNING: You are using pip version 19.1.1, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [1]:
import pandas as pd

In [ ]:
key = 'I2ZWBIOL69PFCZV1'

In [3]:
import requests

In [4]:
response = requests.get('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=JPM&outputsize=full&apikey=key')

In [5]:
from pandas.io.json import json_normalize

daily_df = json_normalize(response.json())

In [9]:
daily_df

,Meta Data.1. Information,Meta Data.2. Symbol,Meta Data.3. Last Refreshed,Meta Data.4. Output Size,Meta Data.5. Time Zone,Time Series (Daily).2019-11-13.1. open,Time Series (Daily).2019-11-13.2. high,Time Series (Daily).2019-11-13.3. low,Time Series (Daily).2019-11-13.4. close,Time Series (Daily).2019-11-13.5. volume,...,Time Series (Daily).1999-11-16.1. open,Time Series (Daily).1999-11-16.2. high,Time Series (Daily).1999-11-16.3. low,Time Series (Daily).1999-11-16.4. close,Time Series (Daily).1999-11-16.5. volume,Time Series (Daily).1999-11-15.1. open,Time Series (Daily).1999-11-15.2. high,Time Series (Daily).1999-11-15.3. low,Time Series (Daily).1999-11-15.4. close,Time Series (Daily).1999-11-15.5. volume
0,"Daily Prices (open, high, low, close) and Volumes",JPM,2019-11-13,Full size,US/Eastern,128.1300,128.8150,127.4200,128.4800,8096654,...,83.3750,86.4380,82.8750,86.0000,6735300,84.0630,84.8130,82.5000,82.5630,5613000